.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100wh;
  height: 100vh;
}

#editor{
  margin: 20px;
  width: 40%;
  height: 30vh;
  background-color: white;
  border-radius: 8px;
}

#preview{
  margin: 10px;
  width: 60%;
  height: 70vh;
  background-color: grey;
  color: white;
  border-radius: 12px;
}

